@import './color.scss';

*,
*::before,
*::after {
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}

header {
  padding: 0 16rem;
}

/* logo */
.branding {
  padding: 20rem 0;
}

.logo {
  a {
    display: flex;
  }

  img {
    margin-right: 8rem;
  }

  .logo-img {
    height: 46rem;
    width: auto;
  }
}

.book-name {
  font-size: 24rem;
  font-weight: 700;
  padding-top: 5px;
}

/* hero-section */
.hero-section {
  margin-top: 48rem;
  padding: 0 16rem;

  .headline {
    font-family: 'QuickSand', sans-serif;
    font-size: 32rem;
    font-weight: 700;
    color: $primary-color;
    margin-bottom: 16rem;
  }

  .subheadline {
    color: $secondary-color;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 24rem;
  }

  .btn {
    cursor: pointer;
    padding: 14rem 40rem;
    border-radius: 25rem;
    border: 2px solid transparent;
    font-size: 16rem;
    margin-bottom: 16rem;
  }

  .btn-primary {
    background-color: $btn-primary;
    color: $white;
  }

  .btn-secondary {
    border-color: $btn-primary;
    color: $btn-primary;
  }

  .hero-quotes {
    margin-bottom: 60rem;
  }

  blockquote {
    margin: 0;
    margin-bottom: 16rem;
    padding: 16rem 20rem;
    border-left: 4rem solid $btn-secondary;
    background-color: $bg-light;
    color: $secondary-color;
    font-weight: 300;
    font-style: italic;  
  }

  .quote-author-icon {
    width: 60rem;
    height: 60rem;
    margin: 0 auto;
    display: block;
  }

  .quote-author,
  .quote-author-info {
    color: $secondary-color;
    font-size: 14rem;
    text-align: center;
    margin: 5rem;
  }

  .book-cover-container {
    text-align: center;
  }

  .book-badge-container {
    position: relative;
  }

  .book-badge {
    background-color: $green;
    border-radius: 50%;
    width: 100rem;
    height: 100rem;
    font-size: 20rem;
    color: $white;
    padding-top: 20rem;
    position: absolute;
    top: -30rem;
    right: 0;
  }

  .theme-link {
    text-decoration: underline;
  }
}
