/** Color **/
$primary-color: #1c1e2e;
$secondary-color: #4c527d;
$green: #5cb377;
$light-green: #7FCDB8;
$btn-primary: #ed6524;
$btn-secondary: #f5a782;
$white: #ffffff;
$form-color: #7f84b1;

/** Background **/
$bg-light: #f6f8fc;
$bg-grey: rgb(246, 248, 252);
$bg-light-grey: #e3e9f6;

/** Font **/
$quicksand: 'Quicksand', sans-serif;
$roboto: 'Roboto', sans-serif;

/** Font Weight **/
$fw-medium: 400;
$fw-bold: 700;

/** Breakpoint **/
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;